*{
  box-sizing:border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("blueprint_pattern.png");
  padding:20px;
  width:100vw;
  height:100vh;
  margin:0;
}
.window{
  width:800px;
  margin:0 auto;
}
/*IntroScreen*/
.logo{
  background: url("gamenuts.png");
  width:800px;
  height:205px;
}
h1{
  font-family: 'Handlee', cursive;
  width:420px;
  text-align:center;
  margin:50px auto;
  height: 50px;
  background: url("underline.png") 0 -10px;
  color:rgba(255,255,255,0.8);
}
#createButton{
  width:280px;
  height:95px;
  background:url('start.png');
  margin:20px auto;
  cursor:pointer;
}
#createButton:hover{
  background:url('start_hover.png');
}
.clickStart{
  width:200px;
  height:135px;
  background:url('click_start.png');
  margin-top:-100px;
  margin-left:550px;
}
footer{
  font-family: 'Handlee', cursive;
  color:rgba(255,255,255,0.8);
  text-align:center;
  font-size:1.3em;
  position: absolute;
  bottom:10px;
  left:50%;
  margin-left:-400px;
  width:800px;
}
footer > a{
  color:rgba(255,255,255,0.8);
  text-decoration:none;
}
footer > a:hover{
  color:rgba(255,255,255,1);
}
/*LobbyDesktop*/
.instructions {
  width:550px;
  height:320px;
  margin:0 auto;
  margin-top:10px;
  background:url('instructions.png');
}
.url{
  font-family: 'Handlee', cursive;
  position: absolute;
  font-size:1.6em;
  margin-left:450px;
  margin-top:45px;
  color:rgba(255,255,255,1);
}
#gameCode{
  font-family: 'Handlee', cursive;
  font-size:2em;
  position: absolute;
  margin-left:460px;
  margin-top:77px;
  color:rgba(255,255,255,1);
}
#playersWaiting{
  font-family: 'Handlee', cursive;
  color:rgba(255,255,255,0.8);
  position: absolute;
  margin-left:218px;
  margin-top:235px;
}
/*lobbyMobile*/
.logoSmall{
  width:280px;
  height:45px;
  margin:8% auto;
  background: url('logo_small.png');
}
.inputFields{
  width:300px;
  margin:10px auto;
}
label{
  width:300px;
  text-align:center;
  padding-top:20px;
  font-family: 'Handlee', cursive;
  font-size:2em;
  color:rgba(255,255,255,0.8);
  display: block;
}
input{
  background: url('input.png');
  width:300px;
  height:90px;
  margin:0 auto;
  margin-bottom:3%;
  border:none;
  font-family: 'Handlee', cursive;
  padding-left:35px;
  padding-right:30px;
  padding-bottom:30px;
  padding-top:15px;
  text-align:center;
  color:#FFF;
  font-size:3em;
  outline:none;
}
#joinGame{
  width:300px;
  height:90px;
  margin:0 auto;
  background: url('join.png');
  margin-bottom:30px;
}
/*styling placeholders*/
::-webkit-input-placeholder {
  color:rgba(255,255,255,0.8);
  font-size:0.8em;
}
:-moz-placeholder { /* Firefox 18- */
  color:rgba(255,255,255,0.8);
  font-size:0.8em;
}
::-moz-placeholder {  /* Firefox 19+ */
  color:rgba(255,255,255,0.8);
  font-size:0.8em;
}
:-ms-input-placeholder {
  color:rgba(255,255,255,0.8);
  font-size:0.8em;
}
/*Phonetroller*/
.logoPhone{
  margin-top:-10px;
  margin-bottom:10px;
}
.leftHand{
  width:40vw;
  height:200px;
  position:absolute;
  left:0;
  bottom:0;
  padding-left:45px;
}
.rightHand{
  width:40vw;
  height:200px;
  position:absolute;
  right:0;
  bottom:0;
  padding-top:35px;
}
/*up*/
#button1{
  background:url('pad.png');
  width:60px;
  height:80px;
  margin-left:50px;
  position: absolute;
}
/*right*/
#button2{
  background:url('pad.png');
  width:60px;
  height:80px;
  transform:rotate(90deg);
  position: absolute;
  margin-left:95px;
  margin-top:45px;
}
/*left*/
#button3{
  background:url('pad.png');
  width:60px;
  height:80px;
  transform:rotate(-90deg);
  position: absolute;
  margin-left:5px;
  margin-top:45px;
}
/*down*/
#button4{
  background:url('pad.png');
  width:60px;
  height:80px;
  transform:rotate(180deg);
  margin-left:50px;
  margin-top:92px;
  position: absolute;
}
/*B button*/
#button5{
  background:url('Bkey.png');
  width:60px;
  height:60px;
  border-radius:100%;
  margin-right:40px;
  float:right;
}
/*A button*/
#button6{
  background:url('Akey.png');
  width:60px;
  height:60px;
  border-radius:100%;
  margin-right:20px;
  margin-top:80px;
  float:right;
}
/*player div generated bij game-setup.js*/
.player{
  background:url('penguin.png');
  width:70px;
  height:100px;
  transition:0.5s;
}
.tag{
  font-family: 'Handlee', cursive;
  color: #FFF;
  display: block;
  width: 70px;
  text-align: center;
  position: relative;
  top: -15px;
}
.canvas{
  width:100%;
  height:100%;
}
